
.merkinnat{
  align-items: center;
  text-align: center;
  align-items: center;
  
}

body{
  align-items: center;
  background-color: rgb(241, 239, 237);
}

.button{

padding: 10px 24px;
}

table, tr, td {
  border: 1px solid;
  width: 50%; 
  text-align: left;
  table-layout: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  
}


/* navigointi barin css koodi: */

.navigation-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin: 0 auto;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff; /* Match with your form background color */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
    border-radius: 15px;
  }
  
  /* Media query suuremmille näytöille, jotka ovat yli 450 pikseliä leveitä */
  @media (min-width: 450px) {
    .navigation-bar {
      width: 100%; /* Navigointipalkki venyy täyttämään saatavilla olevan tilan */
    }
  }

  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgb(30, 30, 30);
  }
  
  .nav-item img {
    width: 24px; /* You can adjust the size as needed */
    height: auto;
    margin-bottom: 5px;
  }
  
  .nav-item span {
    font-size: 0.75em; /* You can adjust the size as needed */
    text-align: center;
  }
  
  /* Add this to prevent the content from being hidden behind the navigation bar */
  body {
    padding-bottom: 70px; /* Height of the navigation bar plus some extra space */
  }

#entries-table {
  /* Add border-spacing to the table */
  border-spacing: 10px;
}

.date-cell {
    /* Add styles for the date cells */
    color: #000; /* Set text color */
    font-size: 16px; /* Set font size */
    padding: 5px; /* Add padding */
}

.date-cell a {
  /* Add styles for the links inside date cells */
  text-decoration: none; /* Remove link underline */
  color: #000; /* Set text color */
}
