header {
    text-align: center;
}

h2 {
    text-align: center;
}

section .options {
    margin: auto;
    margin-bottom: 30px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
  }
  
  .option {
    cursor: pointer;
    margin: 10px;
    padding: 15px 25px;
    background-color: #28a745; 
    color: #fff;
    border: 2px solid #28a745; 
    border-radius: 25px; 
    font-size: 18px; 
    transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .option:hover {
    transform: scale(1.05);
    background-color: #218838; /* Darker green on hover */
    border-color: #218838; /* Darker border on hover */
  }

/* Media query for screens above 768 pixels */
/* @media (min-width: 769px) {
    h1,
    h2,
    #placeholder-box {
        justify-content: flex-start;
        text-align: left;
        padding: 10px; 
        
    }
} */

#mainContainer {
  display: flex;
  align-items: stretch; /* This will make the child elements stretch to fill the container */
}

#emojiContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0; /* Add some padding to align the emojis with the chart */
  margin-bottom: 70px;
}

#chartdiv {
  width: 100%;
  height: 500px;
}

#emojiContainer div {
  font-size: 40px; /* Adjust this value to change the size of the emojis */
}

#mood-description {
  font-size: 25px;
}

.time-selection {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}